@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;
  overflow: hidden;
}

html, body { height: 100%; width: 100%; margin: 0; padding: 0;}
div { height: 100%; width: 100%; margin: 0; padding: 0;}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.introMenu{
  position: relative;
  border: 4px solid white;
  font-size: 65px;
  width: 80%;
  margin: auto;
  top: 25%;
  height: 50%;
  text-align: center;
}

.menuForm{
  position: relative;
  top: 20%;
  display: inline-block;  
}

.menuInput{
  margin-top: 2.5%;
  font-size: 30px;
  border: none;
  border-left: 2px solid white;
  border-right: 2px solid white;
  width: 60%;
  font-size: 50px;
  padding: 20px 10px 20px 10px;
  text-align: center;
}

.menuForm:focus{
  outline: none;
}

.menuSubmit{
  position: absolute;
  font-size: 30px;
  border: 2px solid white;
  padding: 8px;
  left: 90%;
  top: 80%;
}

.menuSubmit:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.dialogueBox{
  position: absolute;
  z-index: 100;
  border: 4px solid white;
  width: 80%;
  height: 30%;
  left: 10%;
  top: 65%;
}

.dialogueText{
  position: relative;
  top: -15%;
  font-size: 40px;
  padding: 20px;
}